header.header
  .container.container--header
    .logo
      a(href=routes.home)
        i.fab.fa-youtube
    .search
      form(action=routes.search, method="GET")
        input(type="text", name="term", placeholder="Search...")
    .nav
      ul.nav__inner
        if !user.isAuthenticated
          li.nav__list
            a.nav__link(href=routes.login) Login
          li.nav__list
            a.nav__link(href=routes.join) Join
        else
          li.nav__list
            a.nav__link(href=routes.userDetail(user.id)) Profile
          li.nav__list
            a.nav__link(href=`/videos/${routes.upload}`) Upload  
          li.nav__list
            a.nav__link(href=routes.logout) Logout