
extends layouts/main

block content
  .video.container
    .video__player
      video(src=`/${video.fileUrl}`)
    .video__info
      .info-top
        h5.video__title=video.title
        if video.views === 1
          span.video__views View 1
        else 
          span.video__views Views #{video.views}
        
      .info-bottom
        .info-left
          p.video__description=video.description
        .info-right
          a.video__edit(href=routes.editVideo(video.id))
            button.button__small.button__small--bg Edit Video
    .video__comments
      if video.comments.length === 1
        span.video__comment-number 1 comment
      else
        span.video__comment-number #{video.comments.length} comments